.Rhistory
.RData
*.tsv
NoGit/*
.DS_Store
*.sdf
*.csv
*.history
.DS_Store
.DS_Store
*.history
*.json
*.xml
.Rproj.user
polypharmacology-db.Rproj
dgidb_curated.xlsx
molSimMatrix.R
Data/grouped_structures.txt
Data/drug_target_associations_v2.txt
Data/compound_names.txt

.project
.settings/**